{% extends "base.html" %}
{% block content %}
<h1>Add a Blog Entry</h1>
<form action="/newpost" method="POST">

        <label for="blog_title">Title for your new blog:</label>
        <br>
        <input name="blog_title" type="text" value="{{post_title}}">
        <br><br>
        <label for="blog_post">Your new blog:</label>
        <br>
        <textarea rows="4" cols="25" name="blog_post" >{{ post_entry }}</textarea>
        <br><br>

    <input id="submit_button" type="submit" value="Add Entry">
</form>
{% endblock  %}
